* {
  margin:0;
  padding:0;
}
body {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: papayawhip;
  color: navy;
  font-family: Nunito, serif;
}
#title {
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 5px;
}

#subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}

#selectButton {
  border-radius: 3px;
  height: 24px;
  font-size: 12px;
  text-align: center;
  color: navy;
  background-color: #f9f9f9;
  border: 2px solid navy;
  margin-bottom: 8px;
  width: min(330px,68vw);
}

#canvas_c1,#canvas_c2,#canvas_c3,#canvas_c4,#canvas_c5,#canvas_c6,#canvas_c7,#canvas_c8{
  height: 40px;
  width: 370px;
  /*border: 1px solid darkred;*/
}
#canvas_c8 {
  margin-bottom: 15px;
}
#canvas_c9 {
  height: 100px;
  width: 370px;
  border: 1px solid navy;
  background-color:#ffffe0;
}

 @media screen and (min-width:767px) and (min-aspect-ratio: 1.2) {
#canvas_c1,#canvas_c2,#canvas_c3,#canvas_c4,#canvas_c5,#canvas_c6,#canvas_c7,#canvas_c8 {
   height: 45px;
   width: 580px;
   /*border: 2px darkgreen solid;*/
 }
 #canvas_c9 {
   height: 110px;
   width: 580px;
   /*border: 2px darkgreen solid;*/
 }
 #title {
   font-size: 25px;
 }
 #subtitle {
   font-size: 20px;
 }
 #selectButton {
   height: 28px;
   font-size: 14px;
 }
}

@media screen and (min-width:767px) and (max-aspect-ratio: 0.9) {
 #canvas_c1,#canvas_c2,#canvas_c3,#canvas_c4,#canvas_c5,#canvas_c6,#canvas_c7,#canvas_c8{
  height: 62px;
  width: 520px;
}
#canvas_c9 {
  height: 150px;
  width: 520px;
  border: 1px solid navy;
}
}

 @media screen and (min-width:1050px) and (min-aspect-ratio:1.4){
   #canvas_c1,#canvas_c2,#canvas_c3,#canvas_c4,#canvas_c5,#canvas_c6,#canvas_c7,#canvas_c8 {
  height: 54px;
  width: 820px;
}

#canvas_c9 {
  height: 135px;
  width: 820px;
  border: 1px solid navy;
}

   #title {
   font-size: 30px;
 }
 #subtitle {
   font-size: 24px;
 }
 #selectButton {
   height: 32px;
   font-size: 16px;
}
 }

@media screen and (min-width:1050px) and (max-aspect-ratio:0.9){
    #canvas_c1,#canvas_c2,#canvas_c3,#canvas_c4,#canvas_c5,#canvas_c6,#canvas_c7,#canvas_c8{
  height: 78px;
  width: 720px;
}
#canvas_c9 {
  height: 195px;
  width: 720px;
}
}
 @media screen and (min-width:1238px) and (min-aspect-ratio: 1.6){
  #canvas_c1,#canvas_c2,#canvas_c3,#canvas_c4,#canvas_c5,#canvas_c6,#canvas_c7,#canvas_c8{
    height: 68px;
    width: 1020px;
   }
#canvas_c9 {
    height: 170px;
    width: 1020px;
}
   #title {
   font-size: 40px;
   margin-bottom: 3px;
 }
 #subtitle {
   font-size: 32px;
 }
 #selectButton {
   height: 40px;
   font-size: 20px;
 }
 } 
@media screen and (min-width:1238px) and (max-aspect-ratio: 0.9){
  #canvas_c1,#canvas_c2,#canvas_c3,#canvas_c4,#canvas_c5,#canvas_c6,#canvas_c7,#canvas_c8{
  height: 97px;
  width: 720px;
}
#canvas_c9 {
  height: 243px;
  width: 720px;
}
}
#nav-bar {
  display: flex;
  width:100%;
  background-color: #ffffe0;
  border: 1px solid navy;
  justify-content: space-evenly;
  height: 40px;
  top:0;
  left:0;
}

#here {
  background-color: #ffffb3;
}

ul {
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  color: navy;
}

.nav-link {
  text-decoration: none;
  color: navy;
  padding: 3px;
}

li {
  display: block;
  margin: 15px;
  list-style-type: none;
  font-size: 12px;
  color: navy;
 }


#tooltip {
  position: absolute;
  padding: 5px;
  visibility: hidden;
  }
